<!doctype html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mallocadora - Jogos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/css/cores.css">
    <link rel="stylesheet" href="../assets/css/index.css">
    <link rel="stylesheet" href="../assets/css/utilities.css">
    <link rel="icon" href="../assets/img/icons/mallocadora.png">
    <style>
        .card-midias img {
            height: 400px; /* Ajuste a altura conforme necessário */
            object-fit: cover; /* Garante que a imagem cubra totalmente o contêiner */
            width: 100%;
        }
        .card {
            margin-bottom: 30px;
        }
    </style>
</head>

<body class="bg-fundo-escuro">
    <header>
        <nav class="navbar navbar-expand-lg bg-verde-principal fixed-top">
            <div class="container-fluid">
                <div class="d-flex justify-items-center">
                    <div>
                        <img src="../assets/img/icons/mallocadora.png" alt="logo da mallocadora" id="logo-navbar">
                    </div>
                    <a class="fs-4 ps-3 navbar-brand text-verde-escuro-medio border border-2 border-start-0 border-top-0 border-bottom-0 pe-3" href="index.html">Mallocadora</a>
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav" id="links-navbar">
                        <a class="nav-link" aria-current="page" href="index.html">Início</a>
                        <a class="nav-link" href="jogos.html">Jogos</a>
                        <a class="nav-link" href="filmes.html">Filmes</a>
                        <a class="nav-link" href="combos.html">Combos</a>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <main class="text-verde-principal mt-5 pt-5">
        <div class="container">
            <h1 class="text-center py-4">Nosso Arsenal de Jogos</h1>
            <hr class="text-verde-principal border-2 rounded">
            <div class="row">
                <!-- Card de Jogo 1 -->
                <div class="col-md-4 mb-4">
                    <div class="card bg-dark text-light position-relative card-midias">
                        <img src="../assets/img/jogos/borderlands-2.jpg" class="card-img-top" alt="Borderlands 2">
                        <div class="card-body">
                            <h5 class="card-title">Borderlands 2</h5>
                            <p class="card-text">Descrição do jogo Borderlands 2.</p>
                            <a href="#" class="btn btn-verde-principal">Alugar</a>
                        </div>
                    </div>
                </div>
                <!-- Card de Jogo 2 -->
                <div class="col-md-4 mb-4">
                    <div class="card bg-dark text-light position-relative card-midias">
                        <img src="../assets/img/jogos/battlefield-4.jpg" class="card-img-top" alt="Battlefield 4">
                        <div class="card-body">
                            <h5 class="card-title">Battlefield 4</h5>
                            <p class="card-text">Descrição do jogo Battlefield 4.</p>
                            <a href="#" class="btn btn-verde-principal">Alugar</a>
                        </div>
                    </div>
                </div>
                <!-- Card de Jogo 3 -->
                <div class="col-md-4 mb-4">
                    <div class="card bg-dark text-light position-relative card-midias">
                        <img src="../assets/img/jogos/cyberpunk-2077.jpg" class="card-img-top" alt="Cyberpunk 2077">
                        <div class="card-body">
                            <h5 class="card-title">Cyberpunk 2077</h5>
                            <p class="card-text">Descrição do jogo Cyberpunk 2077.</p>
                            <a href="#" class="btn btn-verde-principal">Alugar</a>
                        </div>
                    </div>
                </div>
                <!-- Card de Jogo 4 -->
                <div class="col-md-4 mb-4">
                    <div class="card bg-dark text-light position-relative card-midias">
                        <img src="../assets/img/jogos/gta-v.jpg" class="card-img-top" alt="Grand Theft Auto V">
                        <div class="card-body">
                            <h5 class="card-title">Grand Theft Auto V</h5>
                            <p class="card-text">Descrição do jogo Grand Theft Auto V.</p>
                            <a href="#" class="btn btn-verde-principal">Alugar</a>
                        </div>
                    </div>
                </div>
                <!-- Card de Jogo 5 -->
                <div class="col-md-4 mb-4">
                    <div class="card bg-dark text-light position-relative card-midias">
                        <img src="../assets/img/jogos/lords-of-fallen.jpg" class="card-img-top" alt="Lords of Fallen">
                        <div class="card-body">
                            <h5 class="card-title">Lords of Fallen</h5>
                            <p class="card-text">Descrição do jogo Lords of Fallen.</p>
                            <a href="#" class="btn btn-verde-principal">Alugar</a>
                        </div>
                    </div>
                </div>
                <!-- Card de Jogo 6 -->
                <div class="col-md-4 mb-4">
                    <div class="card bg-dark text-light position-relative card-midias">
                        <img src="../assets/img/jogos/starfield.jpg" class="card-img-top" alt="Starfield">
                        <div class="card-body">
                            <h5 class="card-title">Starfield</h5>
                            <p class="card-text">Descrição do jogo Starfield.</p>
                            <a href="#" class="btn btn-verde-principal">Alugar</a>
                        </div>
                    </div>
                </div>
                <!-- Card de Jogo 7 -->
                <div class="col-md-4 mb-4">
                    <div class="card bg-dark text-light position-relative card-midias">
                        <img src="../assets/img/jogos/teraria.jpg" class="card-img-top" alt="Terraria">
                        <div class="card-body">
                            <h5 class="card-title">Terraria</h5>
                            <p class="card-text">Descrição do jogo Terraria.</p>
                            <a href="#" class="btn btn-verde-principal">Alugar</a>
                        </div>
                    </div>
                </div>
                <!-- Card de Jogo 8 -->
                <div class="col-md-4 mb-4">
                    <div class="card bg-dark text-light position-relative card-midias">
                        <img src="../assets/img/jogos/dragon-ball-kakarot.jpg" class="card-img-top" alt="Dragon Ball Z: Kakarot">
                        <div class="card-body">
                            <h5 class="card-title">Dragon Ball Z: Kakarot</h5>
                            <p class="card-text">Descrição do jogo Dragon Ball Z: Kakarot.</p>
                            <a href="#" class="btn btn-verde-principal">Alugar</a>
                        </div>
                    </div>
                </div>
                <!-- Card de Jogo 9 -->
                <div class="col-md-4 mb-4">
                    <div class="card bg-dark text-light position-relative card-midias">
                        <img src="../assets/img/jogos/assassins-creed-II.jpg" class="card-img-top" alt="Assassin's Creed II">
                        <div class="card-body">
                            <h5 class="card-title">Assassin's Creed II</h5>
                            <p class="card-text">Descrição do jogo Assassin's Creed II.</p>
                            <a href="#" class="btn btn-verde-principal">Alugar</a>
                        </div>
                    </div>
                </div>
