:root {
    --verde-principal: #0fa968;
    --verde-escuro-max: #03301f;
    --verde-muito-claro: #effef7;
    --verde-escuro-medio: #11563a;
    --verde-claro: #43e5a0;
    --verde-principal-escuro: #108554;
    --fundo-escuro: #0B0B0D;
}

/* 
=================================
           backgrounds
================================= 
*/

.bg-verde-principal{
    background-color: var(--verde-principal);
}

.bg-verde-escuro-medio{
    background-color: var(--verde-escuro-medio);
}

.bg-verde-escuro{
    background-color: var(--verde-escuro-max);
}

.bg-verde-muito-claro{
    background-color: var(--verde-muito-claro);
}

.bg-verde-claro{
    background-color: var(--verde-claro);
}

.bg-verde-principal-escuro{
    background-color: var(--verde-principal-escuro);
}

.bg-fundo-escuro{
    background-color: var(--fundo-escuro);
}

/* 
=================================
              texto
================================= 
*/

.text-verde-principal{
color: var(--verde-principal);
}

.text-verde-escuro{
    color: var(--verde-escuro-max);
}

.text-verde-muito-claro{
    color: var(--verde-muito-claro);
}

.text-verde-escuro-medio{
    color: var(--verde-escuro-medio);
}

.text-verde-claro{
    color: var(--verde-claro);
}

.text-verde-principal-escuro{
    color: var(--verde-principal-escuro);
}

.text-fundo-escuro{
    color: var(--fundo-escuro);
}

