@import 'cores.css';

#links-navbar a{
    color: var(--verde-claro);
}

#logo-navbar{
width: 35px;
    object-fit: contain;
}

#banner-imagem-home{
    position: relative;
    top: 0;
    display: inline-block;
    height: 20%;
    width: 100%;
}

#banner-imagem-home img{
    width: 100%;
    height: 500px;
    object-fit: cover;
}

#chamada-banner{
    height: 400px;
}

#imagens-apresentacao{
    & img{
        width: 200px;
    }
}

.card-opcoes{
    transition: 500ms;

    & lord-icon{
        width: 100%;
        height: 200px;
    }
}

.card-opcoes:hover{
    background-color: var(--verde-escuro-medio);
    transition: 500ms;
}

.card-midias{
    transition: 500ms;
    cursor: pointer;
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 10px;
    & img{
        border-radius: 5px;
        object-fit: cover;
    }

    & .legenda-midia {
        color: var(--verde-muito-claro);
        width: 50%;
        text-align: center;
        transition: 100ms;
        visibility: hidden;
        display: inline-block;
        position: absolute;
        border-radius: 5px ;
        bottom: 0;
        margin: 5px;
        padding: 0%;
    }
}

.card-midias:hover{
    transform: scale(1.05);

    & .legenda-midia{
        background-color: var(--verde-principal);
        visibility: visible;
    }
}